<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <!-- ======= Head ======= -->
    {% include 'head.html' %}
  </head>
  <body>
    <!-- ======= Header ======= -->
    {% include 'header.html' %}
    <section id="testimonials">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-md-12">
            <h3 class="section-title">Add Batch</h3>
            <div class="section-title-divider"></div>
            <p class="section-description">Enter the required details and click <b><i>Add</i></b> button.</p>
          </div>
        </div>

        <div class="row">
          <form action="/add_batch/" method="POST">
            {% csrf_token %}
            <table>
              {{ batch.as_table }}
              <tr>
                <td colspan="2"><input type="submit" value="Add"></td>
              </tr>
            </table>
            
           </form>
           <h5 align="center"><button><a href="javascript:history.go(-1);">Back</a></button></h5>
        </div>
      </div>
    </section><!-- End Testimonials Section -->
    <!-- ======= Footer ======= -->
    {% include 'footer.html' %}

    <!-- Vendor JS Files -->
    {% include 'js_files.html' %}
  </body>
</html>



{% load static %}
