{% load static %}
  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <div data-aos="fade-in">
        <div class="hero-logo">
          <img class="" src="{% static 'assets/img/test_logo.png' %}" alt="Pavana IT Solutions">
        </div>

        <h1>Welcome to <i>PIS</i></h1>
        <h2>We <span class="typed" data-typed-items="Train, Place"></span> the developer</h2>
        <div class="actions">
          <a href="#about" class="btn-get-started">Get Strated</a>
          <a href="#services" class="btn-services">Our Services</a>
        </div>
      </div>
    </div>
  </section><!-- End Hero -->