<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <!-- ======= Head ======= -->
  {% include 'head.html' %}
</head>
<body>
  <!-- ======= Hero ======= -->
  {% include 'hero.html' %}

  <!-- ======= Header ======= -->
  {% include 'header.html' %}
  <main id="main">
    <!-- ======= About Section ======= -->
    {% include 'about.html' %}

    <!-- ======= Services Section ======= -->
    {% include 'service.html' %}

    <!-- ======= Subscrbe Section ======= -->
    {% include 'subscribe.html' %}

    <!-- ======= Students Section ======= -->
    {% include 'students.html' %}

    <!-- ======= Add Student Section ======= -->
    {% include 'add_student.html' %}

    <!-- ======= Team Section ======= -->
    {% include 'team.html' %}

    <!-- ======= Contact Section ======= -->
    {% include 'contact.html' %}
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  {% include 'footer.html' %}

  <!-- Vendor JS Files -->
  {% include 'js_files.html' %}

</body>

</html>