{% load static %}
<section id="services">
  <div class="container">
    <div class="row" data-aos="fade-up">
      <div class="col-md-12">
        <h3 class="section-title">Our Services</h3>
        <div class="section-title-divider"></div>
        
      </div>
    </div>

    <div class="row" data-aos="fade-up" data-aos-delay="200">
      <div class="col-lg-4 col-md-6 service-item">
        <div class="service-icon"><i class="bi bi-briefcase"></i></div>
        <h4 class="service-title"><a href="">Python</a></h4>
        <p class="service-description">Theory along with real time practices</p>
        
      </div>
      <div class="col-lg-4 col-md-6 service-item">
        <div class="service-icon"><i class="bi bi-card-checklist"></i></div>
        <h4 class="service-title"><a href="">Django</a></h4>
        <p class="service-description">Theory along with real time practices</p>
        
      </div>
      <div class="col-lg-4 col-md-6 service-item">
        <div class="service-icon"><i class="bi bi-bar-chart"></i></div>
        <h4 class="service-title"><a href="">RDBMS</a></h4>
        <p class="service-description">Theory along with real time practices</p>
        
      </div>
      <div class="col-lg-4 col-md-6 service-item">
        <div class="service-icon"><i class="bi bi-binoculars"></i></div>
        <h4 class="service-title"><a href="">Github</a></h4>
        <p class="service-description">Theory along with real time practices</p>
        
      </div>
      <div class="col-lg-4 col-md-6 service-item">
        <div class="service-icon"><i class="bi bi-brightness-high"></i></div>
        <h4 class="service-title"><a href="">HTML</a></h4>
        <p class="service-description">Theory along with real time practices</p>
        
      </div>
      <div class="col-lg-4 col-md-6 service-item">
        <div class="service-icon"><i class="bi bi-calendar4-week"></i></div>
        <h4 class="service-title"><a href="">JIRA</a></h4>
        <p class="service-description">Theory along with real time practices</p>
        <
      </div>
    </div>
  </div>
</section><!-- End Services Section -->