<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <!-- ======= Head ======= -->
    {% include 'head.html' %}
  </head>
  <body>
    <!-- ======= Header ======= -->
    {% include 'header.html' %}
    <section id="portfolio">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Student Details</h3>
          <div class="section-title-divider"></div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 d-flex justify-content-center">
          <div class="container">
            <table>
              <tr>
                <th>Name</th>
                <td>{{student.name}}</td>
              </tr>
              <tr>
                <th>Date of Birth</th>
                <td>{{student.dob}}</td>
              </tr>
              <tr>
                <th>Email</th>
                <td>{{student.mail_id}}</td>                
              <tr>
                <th>Mobile</th>
                <td>{{student.mobile}}</td>
              </tr>
          </table>
          <table align="center">
            <tr>
              <td><button><a href="/viewFamily/{{student.id}}">View Family</a></button></td>
              <td><button><a href="/viewGovtId/{{student.id}}">View GovtId</a></button></td>
              <td><button><a href="/viewEducation/{{student.id}}">View Education</a></button></td>
              <td><button><a href="/viewConsultancy/{{student.id}}">View Consultancy</a></button></td>
            </tr>
          </table>

        </div>
        </div>
      </div>
    </div>

  </section><!-- End Portfolio Section -->
    <!-- ======= Footer ======= -->
    {% include 'footer.html' %}

    <!-- Vendor JS Files -->
    {% include 'js_files.html' %}
  </body>
</html>

