<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <!-- ======= Head ======= -->
    {% include 'head.html' %}
  </head>
  <body>
    <!-- ======= Header ======= -->
    {% include 'header.html' %}
    <section id="portfolio">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Education Details</h3>
          <div class="section-title-divider"></div>
        </div>
      </div>`

      <div class="row">
        <div class="col-lg-12 d-flex justify-content-center">
          <div class="container">
            <form>
              <table>
              <tr>
                <th>Qualification</th>
                <th>College Name</th>
                <th>Location</th>
                <th>University Name</th>
                <th>Pass Out Year</th>
                <th>Percentage</th>
                <th>Action</th>
                <th>Action</th>
              </tr>
              {% for i in education %}
              <tr>
                <td>{{i.edu_name}}</td>
                <td>{{i.college_name}}</td>
                <td>{{i.location}}</td>
                <td>{{i.university_name}}</td>
                <td>{{i.year_of_passed}}</td>
                <td>{{i.percentage}}</td>
                <td><button><a href="/editEducation/{{i.id}}">Edit</a></button></td>
                <td><button><a href="/deleteEducation/{{i.id}}">Delete</a></button></td>
              </tr>
            {% endfor %}
          </table>
         <h5 align="center"><a href="/addEducation/{{student.id}}">Add Education Details</a></h5>
            </form>           
            
        </div>
        </div>
      </div>
    </div>

  </section><!-- End Portfolio Section -->
    <!-- ======= Footer ======= -->
    {% include 'footer.html' %}

    <!-- Vendor JS Files -->
    {% include 'js_files.html' %}
  </body>
</html>

